<h1>Home page </h1>

<% @items.each do | item | %>

   Titre : <%= item.title %> </br>

Description : <%= item.description %></br>


Prix : <%= item.price %> € </br>  </br>

<img src="https://source.unsplash.com/250x250/?kitten?sig=<%=rand(1..50)%>" class="img-fluid"> </br>

<%= link_to "En savoir plus", item_path(item.id) %></br>
</br>
    <% end %>
