
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        
    </head>
    <body>
        <header class="bg-dark py-5">
        <!-- insérer une photo de background ici-->
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Cat-eshop</h1>
                    <p class="lead fw-normal text-white-50 mb-0">find your perfect cat portrait</p>
                </div>
            </div>
        </header>
<!--
<h1>Home page </h1>

<% flash.each do |type, msg| %>
   <div>
     <%= msg %>
   </div>
 <% end %>

<% if user_signed_in? %>
<%= link_to "se déconnecter", destroy_user_session_path, method: :delete %> 
<% end %></br>

<% if user_signed_in? %>

<%= link_to "voir mon panier", cart_path(current_user.id)%> 
<% end %></br>
</br>

<% @items.each do | item | %>

   Titre : <%= item.title %> </br>

Description : <%= item.description %></br>


Prix : <%= item.price %> € </br>  </br>

<img src="https://source.unsplash.com/250x250/?kitten?sig=<%=rand(1..50)%>" class="img-fluid"> </br>

<%= link_to "En savoir plus", item_path(item.id) %></br>

<% if user_signed_in? %>
    <%= form_for @join_table_item_cart do |f| %>
        
        <%= f.hidden_field :item_id, value: item.id %>
        <%= f.hidden_field :cart_id, value: current_user.cart.id %>
       
        <button type="submit" class="btn btn-success">Ajouter au panier</button>
    <% end %>
<% end %>

</br>
    <% end %>
-->

<section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% @items.each do | item | %>
                    <div class="col mb-5">
                    
                        <div class="card h-100">
                            <!-- Product image-->
                            <!-- <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
                            <img class="card-img-top" src="https://source.unsplash.com/250x250/?kitten?sig=<%=rand(1..50)%>" class="img-fluid"/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%= item.title %></h5>
                                    <!-- Product description-->
                                    <%= item.description %>
                                    <!-- Product price-->
                                    <%= item.price %> €
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                                <!-- <%= link_to "En savoir plus", item_path(item.id) %> -->
                                <!-- <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div> -->
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </section>
        
</body>
</html>