<h1> ici la show de l'item n° <%=@item.id %></br> </h1>

<img src="https://source.unsplash.com/250x250/?kitten?sig=<%=rand(1..50)%>" class="img-fluid"> </br>

Titre : <%= @item.title%> </br>
Description : <%= @item.description%></br>
Prix : <%= @item.price%> €</br>

