<h1> ici la show de l'item n° <%=@item.id %></br> </h1>

<img src="https://source.unsplash.com/250x250/?kitten?sig=<%=rand(1..50)%>" class="img-fluid"> </br>

Titre : <%= @item.title%> </br>
Description : <%= @item.description%></br>
Prix : <%= @item.price%> €</br>

<% if user_signed_in? %>
    <%= form_for @join_table_item_cart do |f| %>
        
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.hidden_field :cart_id, value: current_user.cart.id %>
       
        <button type="submit" class="btn btn-success">Ajouter au panier</button>
    <% end %>
<% end %>